# DynamoDB table names (same as Terraform definitions)
export EVENTS_TABLE="nostr_relay_events"
export CONNECTIONS_TABLE="nostr_relay_connections"
export SUBSCRIPTIONS_TABLE="nostr_relay_subscriptions"

# Load local overrides if exists
if [[ -f .envrc.local ]]; then
  source_env .envrc.local
fi

# for local scripts
export OPENSEARCH_ENDPOINT=https://search-nostr-relay-uheap464mh5gpyzq3tdhlr4lie.ap-northeast-1.es.amazonaws.com
